{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edycja</h1>
    <form action="{{ path('series_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <div class="row-fluid">
            <div class="span12">{{ form_errors(edit_form) }}</div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                {{ form_widget(edit_form.name, {'attr': {'class': 'span12', 'placeholder': 'Nazwa serialu'}}) }}
            </div>
            <div class="span8">
                {{ form_widget(edit_form.description, {'attr': {'class': 'span12', 'rows': 10, 'placeholder': 'Opis serialu'}}) }}
            </div>
        </div>
        {{ form_widget(edit_form._token) }}
        <button type="submit" class="btn btn-info">
            <i class="icon-plus"></i> Zapisz
        </button>
    </form>

    <a href="{{ path('series') }}" class="btn btn-info">
        <i class="icon-arrow-left"></i> Powrót do listy
    </a>

    <form action="{{ path('series_delete', { 'id': entity.id }) }}" method="post" style="display: inline-block;">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger"><i class="icon-remove"></i> Usuń</button>
    </form>
</ul>
{% endblock %}
