{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Tracker{% endblock %}

{% block fos_user_content %}
    <div class="center">
        {% if error %}
            <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <div class="signin-box">
            <hr />
                <h4>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h4>
            <hr />

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="span12"/><br />

                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" class="input-block-level" name="_password" id="password" class="span12">

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="pull-left"/>
                    <label for="remember_me" style="display:inline-block;margin-left:5px">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle')}}</label>

                    <br/>
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </fieldset>
            </form>
            <a href="{{ path("fos_user_registration_register") }}" >{{ 'layout.register'|trans({}, 'FOSUserBundle') }} </a><br />
        </div>

   </div>
{% endblock fos_user_content %}